<!-- bolim_detail.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
      <section class="about" id="about" style="background-color: #081b29; ">
    <div class="content">   
      {% for fan in fans %}
      <a href="{% url 'app:fan_detail' fan.id %}" style="color: aliceblue; text-decoration: none;">
      <div class="column col-left reveal">    
        <div class="img-card">
          <img src="{{fan.Rasm.url}}" style="border-radius: 30px;">
        </div>
        <div style="color: azure; text-align: center; margin-top: 20px;">
         <h1>{{ fan.Fan_nomi }}</h1>
        </div></a>
      </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
